<!DOCTYPE html>
<html lang="zh-CN" class="no-js"  xmlns:th="http://www.thymeleaf.org">

<head>
	<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>乡土文化教育--各地文化介绍</title>


	<!--
			Google Font
			============================================= -->
	<link href="/css/googlecss1" rel="stylesheet">
	<link href="/css/googlecss2" rel="stylesheet">


	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="/css/style1.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
</head>

<body>

	<!-- Start Header Area -->
	<header id="header" >
		<div th:replace="common/bar::topbar"></div>
	</header>
	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						一方水土养育一方人
					</h1>
					<p>乡土，就是儿童成长起来的地方。儿童成长起来的地方，就是他们的家和他们的学校所在地，就是他们的家乡。</p>
					<div class="link-nav">
						<span class="box">
							<a href="/">首页</a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="/education/introduce">文化介绍</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			<img src="/img/rocket.png" alt="">
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- about -->
<section class="about py-5" id="how">
	<div class="container py-lg-5">
		<div class="row about-grids">
			<div class="col-lg-6 about-left">
				<img src="/img/elements/hmx1.jpg" alt="" class="img-fluid"/>
			</div>
			<div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
				<div>
				<h3 class="my-lg-4 mb-2" >安徽安庆文化艺术——黄梅戏</h3>
				<p class="">
					黄梅戏与京剧、越剧、评剧 、豫剧并称"中国五大戏曲剧种"，也是安徽省的主要地方戏曲剧种，湖北、江西、福建、浙江、江苏、香港、台湾等地亦有黄梅戏的专业或业余的演出团体，受到广泛的欢迎 。
				黄梅戏唱腔淳朴流畅，以明快抒情见长，具有丰富的表现力;表演质朴细致，以真实活泼著称。一曲《天仙配》让黄梅戏流行于大江南北，在海外亦有较高的声誉 。2006年5月20日，黄梅戏经国务院批准列入第一批国家级非物质文化遗产名录。
				</p>
				<!--<p class="mt-3">
					
				</p>-->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- services -->
<section class="services py-5 bg-clr" id="services">
	<div class="container py-lg-5">
		<div class="row mt-lg-5">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-4">
				<h4 class="heading mt-3 ml-3">安徽安庆黄梅戏的历史发展</h4>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<!--<h4>Sea freight</h4>-->
							<p>
								约从清乾隆末期到辛亥革命前后，产生和流传到皖、鄂、赣三省间的黄梅采茶调、江西调、桐城调、受当地戏曲。演出的影响，与莲湘、高跷等民间艺术结合，逐渐形成了一些小戏。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>
								进一步发展，从小戏到本戏还有一种过渡形式，老艺人称之为“串戏”。“串戏”的情节比小戏丰富，出场的人物也突破了小丑、小旦、小生这就为本戏的产生创造了条件。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>
								从辛亥革命到1949年,黄梅戏演出活动渐渐职业化，并从农村走上城市舞台。黄梅戏入城后，在演出的内容与形式上都有很大变化。又吸收融化其他剧种的程式动作，丰富了表现手段。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-plane" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>
								1952年，安庆黄梅戏艺人带着《打猪草》等剧目到上海演出。几十年来造就大批演员，除对黄梅戏艺术有突出成就的老一辈艺术家外，中青年演员马兰等相继在舞台上展现各自的英姿。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>
								解放以后，黄梅戏表演者们先后创作了《牛郎织女》、《失刑斩》、《春暖花开》等。其中《天仙配》、《女驸马》和《牛郎织女》相继搬上银幕，在国内外产生较大影响。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="whole-wrap">
		<div class="container">
			<div class="section-top-border">
				<h3>特色展示</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="/img/elements/hmx2.jpg" class="img-pop-up">
						<div class="single-gallery-image" style="background: url(/img/elements/hmx2.jpg);">
							<a href="#" class="intro"></a>
						</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/img/elements/hmx3.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hmx3.jpg);">
							<a href="#" class="intro"></a>
						</div></a>
					</div>
					<div class="col-md-4">
						<a href="/img/elements/hmx4.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hmx4.jpg);">
							<a href="#" class="intro"></a>
						</div></a>
					</div>
					<div class="col-md-6">
						<a href="/img/elements/hmx5.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hmx5.jpg);">
							<a href="#" class="intro"></a>
						</div></a>
					</div>
					<div class="col-md-6">
						<a href="/img/elements/hmx6.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hmx6.jpg);">
							<a href="#" class="intro"></a>
						</div></a>
					</div>
				</div>
			</div>		
	</div>
</div>



				
				
			<footer class="footer-area">
			<div class="container">
			</div>
			</footer>

	
		<div id="back-top ">
			<a title="Go to Top " href="# "></a>
		</div>

	<script src="/js/vendor/jquery-2.2.4.min.js "></script>
	<script src="/js/popper.min.js" ></script>
	<script src="/js/vendor/bootstrap.min.js "></script>
	<!--<script type="text/javascript " src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA "></script>-->
	<script src="/js/easing.min.js "></script>
	<script src="/js/hoverIntent.js "></script>
	<script src="/js/superfish.min.js "></script>
	<script src="/js/jquery.ajaxchimp.min.js "></script>
	<script src="/js/jquery.magnific-popup.min.js "></script>
	<script src="/js/owl.carousel.min.js "></script>
	<script src="/js/owl-carousel-thumb.min.js "></script>
	<script src="/js/jquery.sticky.js "></script>
	<script src="/js/jquery.nice-select.min.js "></script>
	<script src="/js/parallax.min.js "></script>
	<script src="/js/waypoints.min.js "></script>
	<script src="/js/wow.min.js "></script>
	<script src="/js/jquery.counterup.min.js "></script>
	<script src="/js/mail-script.js "></script>
	<script src="/js/main.js "></script>
	</body>
	
	</html>