<!DOCTYPE html>
<html lang="zh-CN" class="no-js"  xmlns:th="http://www.thymeleaf.org">

<head>
	<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
	</script>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>乡土文化教育--各地文化介绍</title>


	<!--
			Google Font
			============================================= -->
	<link href="/css/googlecss1" rel="stylesheet">
	<link href="/css/googlecss2" rel="stylesheet">


	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="/css/style1.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
</head>

<body>

<!-- Start Header Area -->
<header id="header" >
	<div th:replace="common/bar::topbar"></div>
</header>
<!-- End Header Area -->


<!-- Start Banner Area -->
<section class="banner-area relative">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					一方水土养育一方人
				</h1>
				<p>乡土，就是儿童成长起来的地方。儿童成长起来的地方，就是他们的家和他们的学校所在地，就是他们的家乡。</p>
				<div class="link-nav">
						<span class="box">
							<a href="/">首页</a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="/education/introduce">文化介绍</a>
						</span>
				</div>
			</div>
		</div>
	</div>
	<div class="rocket-img">
		<img src="/img/rocket.png" alt="">
	</div>
</section>
<!-- End Banner Area -->
<!-- about -->
<section class="about py-5" id="how">
	<div class="container py-lg-5">
		<div class="row about-grids">
			<div class="col-lg-6 about-left">
				<img src="/img/elements/beijing1.jpg" alt="" class="img-fluid"/>
			</div>
			<div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
				<div>
					<h3 class="my-lg-4 mb-2" >北京特色历史建筑——四合院</h3>
					<p class="">
						北京四合院又称四合房，是一种中国传统合院式建筑，其格局为一个院子四面建有房屋，通常由正房、东西厢房和倒座房组成，从四面将庭院合围在中间.自明代正式建都北京，大规模规划建设都城时期，四合院就与北京的宫殿、衙署、街区、坊巷和胡同同时出现了。
						北京四合院设计与施工比较容易，所用材料十分简单，不要钢筋与水泥，青砖灰瓦，砖木结合，混合建筑，整体建筑色调灰青，给人印象十分朴素，生活非常舒适。
					</p>
					<!--<p class="mt-3">

                    </p>-->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- services -->
<section class="services py-5 bg-clr" id="services">
	<div class="container py-lg-5">
		<div class="row mt-lg-5">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-4">
				<h4 class="heading mt-3 ml-3">北京四合院的历史发展</h4>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<!--<h4>Sea freight</h4>-->
							<p>早在辽代时期，四合院就已经初成规模.自元代正式建都北京，大规模规划建设都城时起，四合院就与北京的宫殿、衙署、街区、坊巷和胡同同时出现了。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>
								清代建都北京以后，大量吸收汉文化，基本上承袭了明北京城的建筑风格。并在大门、中门、上房等处施砖雕，清代是北京四合院发展的巅峰时期。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>解放前夕，北京传统住宅建筑发生很大变化，居民的住房越来越少，院里的房客越来越多。独门独户的四合院开始变成多户聚居的大杂院，四合院的居住性质发生了变化。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-plane" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>1949年以后，北京传统四合院出现了使用性危机。这些用途上的变化，使四合院再难保持昔日的深邃、安谧、幽雅和温馨，四合院被分割、改造成了普遍现象。 </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>在80年代初至今的十多年中，北京四合院仍在发展，并且加入了现代化因素。虽然四合院还保持了传统的外形，可室内却装上了暖气、上下水、空调等现代化设施。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="whole-wrap">
	<div class="container">
		<div class="section-top-border">
			<h3>特色展示</h3>
			<div class="row gallery-item">
				<div class="col-md-4">
					<a href="/img/elements/beijing2.jpg" class="img-pop-up">
						<div class="single-gallery-image" style="background: url(/img/elements/beijing2.jpg);">
							<a href="#" class="intro"></a>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="/img/elements/beijing3.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/beijing3.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="/img/elements/beijing4.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/beijing4.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
				<div class="col-md-6">
					<a href="/img/elements/beijing5.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/beijing5.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
				<div class="col-md-6">
					<a href="/img/elements/beijing6.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/beijing6.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</div>





<footer class="footer-area">
	<div class="container">
	</div>
</footer>


<div id="back-top ">
	<a title="Go to Top " href="# "></a>
</div>

<script src="/js/vendor/jquery-2.2.4.min.js "></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/vendor/bootstrap.min.js "></script>
<!--<script type="text/javascript " src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA "></script>-->
<script src="/js/easing.min.js "></script>
<script src="/js/hoverIntent.js "></script>
<script src="/js/superfish.min.js "></script>
<script src="/js/jquery.ajaxchimp.min.js "></script>
<script src="/js/jquery.magnific-popup.min.js "></script>
<script src="/js/owl.carousel.min.js "></script>
<script src="/js/owl-carousel-thumb.min.js "></script>
<script src="/js/jquery.sticky.js "></script>
<script src="/js/jquery.nice-select.min.js "></script>
<script src="/js/parallax.min.js "></script>
<script src="/js/waypoints.min.js "></script>
<script src="/js/wow.min.js "></script>
<script src="/js/jquery.counterup.min.js "></script>
<script src="/js/mail-script.js "></script>
<script src="/js/main.js "></script>
</body>

</html>