<!DOCTYPE html>
<html lang="zh-CN" class="no-js"  xmlns:th="http://www.thymeleaf.org">

<head>
	<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
	</script>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>乡土文化教育--各地文化介绍</title>


	<!--
			Google Font
			============================================= -->
	<link href="/css/googlecss1" rel="stylesheet">
	<link href="/css/googlecss2" rel="stylesheet">


	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="/css/style1.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
</head>

<body>

<!-- Start Header Area -->
<header id="header" >
	<div th:replace="common/bar::topbar"></div>
</header>
<!-- End Header Area -->


<!-- Start Banner Area -->
<section class="banner-area relative">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					一方水土养育一方人
				</h1>
				<p>乡土，就是儿童成长起来的地方。儿童成长起来的地方，就是他们的家和他们的学校所在地，就是他们的家乡。</p>
				<div class="link-nav">
						<span class="box">
							<a href="/">首页</a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="/education/introduce">文化介绍</a>
						</span>
				</div>
			</div>
		</div>
	</div>
	<div class="rocket-img">
		<img src="/img/rocket.png" alt="">
	</div>
</section>
<!-- End Banner Area -->
<!-- about -->
<section class="about py-5" id="how">
	<div class="container py-lg-5">
		<div class="row about-grids">
			<div class="col-lg-6 about-left">
				<img src="/img/elements/hebei1.jpg" alt="" class="img-fluid"/>
			</div>
			<div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
				<div>
					<h3 class="my-lg-4 mb-2" >河北蔚县特色艺术——剪纸</h3>
					<p class="">
						河北蔚县剪纸是我国唯一的以阴阳混刻、重彩点染为制作工艺的民间剪纸。蔚县剪纸已列入国家级非物质文化遗产保护项目。蔚县剪纸又称“窗花”，是当地民间一种传统的装饰艺术，至今已有二百多年的历史，初始图案多为花卉一类的吉祥纹样，后融入天津杨柳青年画和武强年画的艺术特色，形成了自己特有的风格。
						这一特殊剪纸形式的出现和蔚县的当地民居与民俗文化有着密切关系。由于蔚县特殊的地理环境，古堡建筑是当地民众的居住方式。蔚县人热爱生活，崇尚美好，制作窗花贴在窗户上作装饰以寄托来年的美好生活。可见，窗户是窗花的重要载体。
					</p>
					<!--<p class="mt-3">

                    </p>-->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- services -->
<section class="services py-5 bg-clr" id="services">
	<div class="container py-lg-5">
		<div class="row mt-lg-5">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-4">
				<h4 class="heading mt-3 ml-3">河北蔚县剪纸的历史发展</h4>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<!--<h4>Sea freight</h4>-->
							<p>蔚县最早的剪纸可追溯到明成化年间。当时的剪纸为单色，不镂空，形象古朴、粗拙，其式样和技艺尚未形成自己的特色。后来，剪纸艺人借鉴年画和皮影的色彩，创作出彩色剪纸。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>
								清咸丰年间，又输入木板水印窗花。这种窗花相比"天皮亮"色彩艳丽，被称为"草窗花"。这种剪纸在白天的效果很好看，又经过增加缕空效果，开创了蔚县彩色缕空剪纸的先河。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>清光绪、宣统年间，蔚县城里出现全家从事剪纸职业的吕家和翟家。吕家专门刻戏曲人物，翟家专门刻花卉，让蔚县剪纸中花卉和戏曲人物的基本图案大体形成并初具规模。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-plane" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>20世纪30年代，以王老赏为代表的一大批民间艺人对大量戏曲人物进行重新设计等。使蔚县剪纸摆脱了定型时期的青涩，开创了独具一格的民间剪纸新流派。蔚具剪纸由此步入成熟期。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<p>1956年，蔚县人民委员开办蔚县剪纸厂。剪纸人合作设计生产了传统戏曲脸谱。这一剪纸品种的出现，使传统剪纸从单一粘贴窗户走向世界，为世界更好的了解中国文化做出了贡献。</p>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>

<div class="whole-wrap">
	<div class="container">
		<div class="section-top-border">
			<h3>特色展示</h3>
			<div class="row gallery-item">
				<div class="col-md-4">
					<a href="/img/elements/hebei2.jpg" class="img-pop-up">
						<div class="single-gallery-image" style="background: url(/img/elements/hebei2.jpg);">
							<a href="#" class="intro"></a>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="/img/elements/hebei3.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hebei3.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="/img/elements/hebei4.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hebei4.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
				<div class="col-md-6">
					<a href="/img/elements/hebei5.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hebei5.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
				<div class="col-md-6">
					<a href="/img/elements/hebei6.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(/img/elements/hebei6.jpg);">
						<a href="#" class="intro"></a>
					</div></a>
				</div>
		</div>
	</div>
</div>





<footer class="footer-area">
	<div class="container">
	</div>
</footer>


<div id="back-top ">
	<a title="Go to Top " href="# "></a>
</div>

<script src="/js/vendor/jquery-2.2.4.min.js "></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/vendor/bootstrap.min.js "></script>
<!--<script type="text/javascript " src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA "></script>-->
<script src="/js/easing.min.js "></script>
<script src="/js/hoverIntent.js "></script>
<script src="/js/superfish.min.js "></script>
<script src="/js/jquery.ajaxchimp.min.js "></script>
<script src="/js/jquery.magnific-popup.min.js "></script>
<script src="/js/owl.carousel.min.js "></script>
<script src="/js/owl-carousel-thumb.min.js "></script>
<script src="/js/jquery.sticky.js "></script>
<script src="/js/jquery.nice-select.min.js "></script>
<script src="/js/parallax.min.js "></script>
<script src="/js/waypoints.min.js "></script>
<script src="/js/wow.min.js "></script>
<script src="/js/jquery.counterup.min.js "></script>
<script src="/js/mail-script.js "></script>
<script src="/js/main.js "></script>
</body>

</html>