<!DOCTYPE html>
<html lang="zh-CN" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>乡土文化教育--各地文化介绍</title>

	<!--
			Google Font
			============================================= -->
	<link href="/css/googlecss1" rel="stylesheet">
	<link href="/css/googlecss2" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header id="header" >
		<div th:replace="common/bar::topbar"></div>
	</header>
	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						一方水土养育一方人
					</h1>
					<p>乡土，就是儿童成长起来的地方。儿童成长起来的地方，就是他们的家和他们的学校所在地，就是他们的家乡。</p>
					<div class="link-nav">
						<span class="box">
							<a href="/">首页</a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="#">文化介绍</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			<img src="img/rocket.png" alt="">
		</div>
	</section>
	<!-- End Banner Area -->

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container">
			<h3 class="text-heading">乡土文化</h3>
			<p class="sample-text" style="text-indent:2em;">
				中国的乡土文化源远流长，而广大农村则是滋生培育乡土文化的根源和基因。改革开放以来，由于我国城市经济的飞速发展，农村经济发展相对滞后，许多乡土文化没有得到应有的发展，至此我们对中国乡土文化的了解和认识还相当有限。乡土文化是中华民族得以繁衍发展的精神寄托和智慧结晶，是区别于任何其它文明的唯一特征，是民族凝聚力和进取心的真正动因!乡土文化无论是物质的、非物质的都是不可替代的无价之宝!其中包含民俗风情、传说故事、古建遗存、名人传记、村规民约、家族族谱、传统技艺、古树名木等诸多方面。
			</p>
			<p class="sample-text" style="text-indent:2em;">乡土文化无论是物质的、非物质的都是不可替代的无价之宝!对乡土文化的保护和延承也必须覆盖物质的、非物质的各个领域，而且保护始终是第一位的，即使要利用它发展旅游等产业也要突出"保护第一"的原则。对乡土文化最有效的保护是积极的全方位的延承。所谓"积极的延承"指的是:既要继承乡土文化传统的东西，也要适应现代生活需求创造新的东西;既要保护好原生态乡土文化，又要创造新生态乡土文化。所谓"全方位的延承"指的是:既要延承乡土文化的"文脉"，也要有选择地沿承作为乡土文化载体的"人脉"，既要延承乡土文化的物质表象(即"形似")，也要注意延承乡土文化的精神内涵。这一点在时下的中国广大农村是要特别关注并给予妥善的保护政策。
			</p>
		</div>
	</section>
	<!-- End Sample Area -->
	<!-- Start province  Area -->
	<section class="courses-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 about-right">
					<h1>
						一方水土养一方人
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s">
						<p>
							一方水土，或贫瘠，或富饶，或大陆，或岛屿，依附在土地上生存的人“靠山吃山，靠水吃水”；一方水土也浸润着一方文化，水土环境，人文环境的不同，可能对人的性格、生活方式、思想观念也会产生不同，但更能浸润的可能是不同的文化了。
						</p>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-6">
					<div class="courses-right">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="courses-list">
									<li>
										<a class="wow fadeInRight" href="/education/place/anhui" data-wow-duration="1s" data-wow-delay="1.3s">
											<i class="fa fa-hand-o-right"></i> 安徽省
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="/education/place/hebei" data-wow-duration="1s" data-wow-delay="1.1s">
											<i class="fa fa-hand-o-right"></i> 河北省
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="/education/place/beijing" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-hand-o-right"></i> 北京市
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="/education/place/jiangxi" data-wow-duration="1s" data-wow-delay=".7s">
											<i class="fa fa-hand-o-right"></i> 江西省
										</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="courses-list">
									<li>
										<a class="wow fadeInRight" href="#" data-wow-duration="1s" data-wow-delay="1.3s">
											<i class="fa fa-hand-o-right"></i> 湖南省
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="#" data-wow-duration="1s" data-wow-delay="1.1s">
											<i class="fa fa-hand-o-right"></i> 河南省
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="#" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-hand-o-right"></i> 浙江省
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="#" data-wow-duration="1s" data-wow-delay=".7s">
											<i class="fa fa-hand-o-right"></i> 湖北省
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End province Area -->
	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container">
			<div class="section-top-border" th:each="introduce:${introduces}">
				<h3 class="mb-30">[[${introduce.provinceName}]]</h3>
				<div class="row">
					<div class="col-md-3">
						<img th:src="@{'img/elements/'+${introduce.img}}" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>[[${introduce.content}]]</p>
					</div>
				</div>
			</div>
		</div>
	</div>
			<!-- End Align Area -->


	
		<!-- ####################### Start Scroll to Top Area ####################### -->
		<div id="back-top ">
			<a title="Go to Top " href="# "></a>
		</div>
		<!-- ####################### End Scroll to Top Area ####################### -->
	
		<script src="js/vendor/jquery-2.2.4.min.js "></script>
		<script src="/js/popper.min.js" ></script>
		<script src="js/vendor/bootstrap.min.js "></script>
		<!--<script type="text/javascript " src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA "></script>-->
		<script src="js/easing.min.js "></script>
		<script src="js/hoverIntent.js "></script>
		<script src="js/superfish.min.js "></script>
		<script src="js/jquery.ajaxchimp.min.js "></script>
		<script src="js/jquery.magnific-popup.min.js "></script>
		<script src="js/owl.carousel.min.js "></script>
		<script src="js/owl-carousel-thumb.min.js "></script>
		<script src="js/jquery.sticky.js "></script>
		<script src="js/jquery.nice-select.min.js "></script>
		<script src="js/parallax.min.js "></script>
		<script src="js/waypoints.min.js "></script>
		<script src="js/wow.min.js "></script>
		<script src="js/jquery.counterup.min.js "></script>
		<script src="js/mail-script.js "></script>
		<script src="js/main.js "></script>
	</body>
	
	</html>