
//    Font Family

$title-font	: 'Montserrat', sans-serif;
$text-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #56cf68;
$primary-color2	: #67ff99;
$primary-color3	: #f1f9ff;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;